@model BusinessExcel.Models.RosterModel
@using BootstrapHtmlHelper

@using (Ajax.BeginForm(
               actionName: BusinessExcel.Controllers.AdminController.AJAXCREATEROSTER,
                routeValues: null,
                ajaxOptions: new AjaxOptions()
                {
                    UpdateTargetId = "user-roster-creation-form",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "refreshRosterTable"
                },
                htmlAttributes: new { @class = "form-inline" })
                                                                                                                                                    )
{

    <div class="row">
        @Html.AdminLTETextBoxFor(m => m.user_id,
               null,
               new Dictionary<string, object>() { { "class", "form-control" },
                   { "required", "" } },
               new Dictionary<string, object>() { { "class", "col-md-2" } },
               null, "", false, true, true)
        @Html.AdminLTETextBoxFor(m => m.start_date, null, new Dictionary<string, object>() { { "class", "form-control" }, { "required", "" } },

               new Dictionary<string, object>() { { "class", "col-md-2" } }, null, "", false, true, true)

        @Html.AdminLTETextBoxFor(m => m.end_date, null, new Dictionary<string, object>() { { "class", "form-control" }, { "required", "" } },

               new Dictionary<string, object>() { { "class", "col-md-2" } }
               , null, "", false, true, true)
        @Html.AdminLTETextBoxFor(m => m.location_id, null, new Dictionary<string, object>() { { "class", "form-control" }, { "required", "" } },

               new Dictionary<string, object>() { { "class", "col-md-2" } },
               null, "", false, true, true)


        <button type="submit" class="btn btn-primary col-md-offset-2 " style="margin-left:15px" >Add New</button>
    </div>
        <br />
        @ViewData[BusinessExcel.Controllers.AdminController.ROSTERCREATIONMESSAGE]

}



