

@using BusinessExcel.Models
@using BusinessExcel.Controllers
@using BootstrapHtmlHelper
@using BusinessExcel.Providers.ProviderContext
@using BusinessExcel.Providers.ProviderContext.Entities
@using BusinessExcel.Controllers.JSON


@model RosterModel



@using (Ajax.BeginForm(
               actionName: BusinessExcel.Controllers.AdminController.AJAXCREATEROSTER,
                routeValues: null,
                ajaxOptions: new AjaxOptions()
                {
                    UpdateTargetId = "user-roster-creation-form",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "refreshRosterTable"
                },
                htmlAttributes: new { @class = "form-inline" })
                                                                                                                                                    )
{

    <div class="row">

        @*@Html.AdminLTETextBoxFor(m => m.user_id,
               null,
               new Dictionary<string, object>() { { "class", "form-control" },
                   { "required", "" } },
               new Dictionary<string, object>() { { "class", "col-md-2" } },
               null, "", false, true, true)*@
        
            @Html.AdminLTEDropDownListFor(
                            m => m.user_id,
                            htmlLabelAttributes: null,


                              htmlDropDownAttributes: new Dictionary<string, object>() {
                                                                    { "class", "form-control select2" }

                            },
                            htmlGroupAttributes:  new Dictionary<string, object>() { { "class", "col-md-3" } },
                            autoCompleteOptions: new AutoCompleteOptions()
                            {
                                AjaxOptions = new AjaxOptions()
                                {
                                    HttpMethod = "GET",
                                    Url = Url.Action(actionName: JSONController.USERAUTOCOMPLETER, controllerName: JSONController.JSONCONTROLLER)
                                },
                                DescriptionField = "full_name",
                                IDField = "user_name",
                                Formate = "'<tr><td>' + state.id + '</td><td><span>' + state.text + '</span></td></tr>'",
                                SelectedItem = ViewData[ReportController.SELECTED_FILTED_USER],
                                IsAutoComplete = true,
                                SelectItems = null
                            },
                            showLabel: false)
         
        <div class="col-md-5">

            @Html.AdminLTEDateRangePickerFor(
                 m => m.start_date,
                 m => m.end_date,
                 "Date Range",
                 htmlLabelAttributes: null,
                 htmlTextBoxAttributes: new Dictionary<string, object>() { { "class", "form-control" } },
                 htmlGroupAttributes:null,// new Dictionary<string, object>() { { "class", "col-md-4" } },
                       htmlGlyphiconsAttributes: null,
                       glyphiconsName: "fa fa-calendar",
                       showLabel: false,
                       hasValidation: true,
                       showGlyphicons: true)
        </div>
            @*@Html.AdminLTETextBoxFor(m => m.start_date, null, new Dictionary<string, object>() { { "class", "form-control" }, { "required", "" } },

                   new Dictionary<string, object>() { { "class", "col-md-2" } }, null, "", false, true, true)

            @Html.AdminLTETextBoxFor(m => m.end_date, null, new Dictionary<string, object>() { { "class", "form-control" }, { "required", "" } },

                   new Dictionary<string, object>() { { "class", "col-md-2" } }
                   , null, "", false, true, true)*@
         
            @Html.AdminLTETextBoxFor(m => m.location_id, null, new Dictionary<string, object>() { { "class", "form-control" }, { "required", "" } },

             new Dictionary<string, object>() { { "class", "col-md-2" } },
               null, "", false, true, true)
    
            <button type="submit" class="btn btn-primary col-md-2" style="margin-left:15px">Add New</button>
            </div>
      

        <br />
        @ViewData[BusinessExcel.Controllers.AdminController.ROSTERCREATIONMESSAGE]

}



