
@using BootstrapHtmlHelper
@using BusinessExcel.Models


@using BusinessExcel.Controllers
@using BusinessExcel.Providers.ProviderContext
@using BusinessExcel.Providers.ProviderContext.Entities

@model RosterModel

@{
    int countRosters = 0;
    List<RosterModel> rosters;
    using (var db = new RosterContext())
    {
        var result = db.GetAllRosters;
        rosters = Model == null ? result.ToList() : (from x in result.ToList()
                                                     where Model.location_id == null ? true : x.user_id == Model.user_id
                                                     select x).ToList();
    }

    //var users = new UsersContext().UserProfile;
}




<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <td>User Name</td>
            <td>Email</td>
        </tr>
    </thead>
    @foreach (var roster in rosters)
    {

        <tr>
            <td>
                @roster.user_id
                @using (Ajax.BeginForm(
actionName: BusinessExcel.Controllers.AdminController.AJAXREMOVEROSTER,
routeValues: "",
ajaxOptions: new AjaxOptions()
{
    //UpdateTargetId = "role-table-display",
    //InsertionMode = InsertionMode.Replace,
   //// OnSuccess = "refreshRoleTable('remove-role-confirm-" + @roster.start_date.Replace(' ', '-') + "')"//, Confirm = "Do you want to remove role?"
}
////htmlAttributes: new { @style = "display:inline;", @id = "form-remove-" + roster.UserName.Replace(' ', '-'), @class = "align-self-end" }
))
                {
                    @Html.Hidden("UserName", roster.user_id)
                    @Html.AntiForgeryToken()
                        <!-- Button trigger modal -->
                    @*<button type="button" class="btn btn-link" data-toggle="modal" data-target="#remove-role-confirm-@user.UserName.Replace(' ', '-')">
                        Remove
                    </button>*@
                    @*@Html.AdminLTEActionLink(AdminController.VIEWMANAGER_TITLE, AdminController.VIEWMANAGEMENT, AdminController.ADMIN,
                   routeValues: new { UserName = user.UserName })*@

                        <!-- Modal -->
                    <div class="modal fade" id="remove-roster-confirm-@roster.user_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="remove-roster-confirm-label@user.UserName.Replace(' ', '-')}">Confirm remove</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Do you want to remove roster : <b>@roster.user_id</b>?<br />
                                    @if (countRosters > 0)
                                    {
                                        <div>Roster created.</div>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    @*<button type="button" class="btn btn-primary" onclick='confirmRemoveRole("form-remove-@user.UserName.Replace(' ', '-')")' data-dismiss="modal">Remove</button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </td>
            <td>@roster.user_id</td>
        </tr>

    }
</table>

<script>
    var loadingelement = '@Html.Raw(ConstantUsages.LOADING_ELEMENT)'
    function refreshRoleTable() {
        $('#roster-table-display').append(loadingelement);
        $.ajax({
            // edit to add steve's suggestion.
            //url: "/ControllerName/ActionName",
            url: '@Url.Action(BusinessExcel.Controllers.AdminController.ROLETABLEPARTIAL, BusinessExcel.Controllers.AdminController.ADMIN)',
            success: function (data) {
                // your data could be a View or Json or what ever you returned in your action method
                // parse your data here
                //alert(data);
                $('#roster-table-display').html(data)

                $('#roster-table-display').find("[id='loading-element']").remove();
            },
            begin: function () {
                // $('#role-table-display').modal('hide')
            }
        });
    }

    function confirmRemoveRole(formid) {
        $("#" + formid).submit();
    }

</script>
