@using BootstrapHtmlHelper
@using BusinessExcel.Models
@using BusinessExcel.Providers.ProviderContext
@using BusinessExcel.Providers.ProviderContext.Entities

@model UserProfile

@{
    int countUsers = 0;
    List<UserProfile> users;
    using (var db = new UsersContext())
    {
        var result = db.UserProfile;
        users = (from x in result.ToList()
                 where Model == null ? true : x.UserName == Model.UserName
                 select x).ToList();
    }

    //var users = new UsersContext().UserProfile;
}


<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <td>User Name</td>
            <td>Email</td>
        </tr>
    </thead>
    @foreach (var user in users)
    { 

        <tr>
            <td>
                @user.UserFullName
                @using (Ajax.BeginForm(
actionName: BusinessExcel.Controllers.AdminController.AJAXREMOVEROLE,
routeValues: "",
ajaxOptions: new AjaxOptions()
{
    //UpdateTargetId = "role-table-display",
    //InsertionMode = InsertionMode.Replace,
    OnSuccess = "refreshRoleTable('remove-role-confirm-" + @user.UserName.Replace(' ', '-') + "')"//, Confirm = "Do you want to remove role?"
},
htmlAttributes: new { @style = "display:inline;", @id = "form-remove-" + user.UserName.Replace(' ', '-'), @class = "align-self-end" }
))
                {
                    @Html.Hidden("UserName", user.UserName)
                    @Html.AntiForgeryToken()
                        <!-- Button trigger modal -->
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#remove-role-confirm-@user.UserName.Replace(' ', '-')">
                        Remove
                    </button>

                        <!-- Modal -->
                    <div class="modal fade" id="remove-role-confirm-@user.UserName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="remove-role-confirm-label@user.UserName.Replace(' ', '-')}">Confirm remove</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Do you want to remove role : <b>@user.UserFullName</b>?<br />
                                    @if (countUsers > 0)
                                    {
                                        <div>Role Has users assigned.</div>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick='confirmRemoveRole("form-remove-@user.UserName.Replace(' ', '-')")' data-dismiss="modal">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </td>
            <td>@user.UserName</td>
        </tr>

    }
</table>

<script>
    var loadingelement = '@Html.Raw(ConstantUsages.LOADING_ELEMENT)'
    function refreshRoleTable() {
        $('#role-table-display').append(loadingelement);
        $.ajax({
            // edit to add steve's suggestion.
            //url: "/ControllerName/ActionName",
            url: '@Url.Action(BusinessExcel.Controllers.AdminController.ROLETABLEPARTIAL, BusinessExcel.Controllers.AdminController.ADMIN)',
            success: function (data) {
                // your data could be a View or Json or what ever you returned in your action method
                // parse your data here
                //alert(data);
                $('#role-table-display').html(data)

                $('#role-table-display').find("[id='loading-element']").remove();
            },
            begin: function () {
                // $('#role-table-display').modal('hide')
            }
        });
    }

    function confirmRemoveRole(formid) {
        $("#" + formid).submit();
    }

</script>
