@using BusinessExcel.Models
@using BusinessExcel.Providers.ProviderContext.Entities

    <section class="content-header">
        <h1>
            @BusinessExcel.Controllers.AdminController.USERMANAGEMENT_TITLE
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Account</a></li>
            <li class="active">System Admin Panel</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->

    <div class="row">
        <div class="col-md-12">


            @*<div class="box box-primary" id="users-list-form">
                <div class="box-header with-border">
                    <h3 class="box-title">Users List</h3>
                </div>
                <div class="box-body">*@

         

                    <div id="users-table-display">


                        @*@Html.Action(BusinessExcel.Controllers.AdminController.USERSLIST);*@

                        @Html.Action(BusinessExcel.Controllers.AdminController.USERSLIST, new UserViewFilters()
                   {

                       user_id = 0,

                       user_name =null,
                       first_name=null,

                       second_name=null,
                       display_name=null,
                       create_date =default(DateTime),
                       end_date = default(DateTime),
 is_active =0,
 email =null,
 role_id =0,

 contact_number=null,
 emp_code_lookup =null

                        })
                    </div>
                  


                @*</div>
            </div>*@


        </div>
    </div>


        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary" id="change-user-name-form">
                    <div class="box-header with-border">
                        <h3 class="box-title">User Roles</h3>
                    </div>
                    <div class="box-body">

                        @*
                            @{
                                var selectList = new List<SelectListItem>();
                                SelectListItem item = new SelectListItem() { Text = "Text1", Value = "Value1" };
                                selectList.Add(item);
                                item = new SelectListItem() { Text = "Text2", Value = "Value2" };
                                selectList.Add(item);
                                item = new SelectListItem() { Text = "Text3", Value = "Value3" };
                                selectList.Add(item);
                                item = new SelectListItem() { Text = "Text4", Value = "Value4" };
                                selectList.Add(item);

                            }
                            @Html.DropDownList("Test", selectList, new { @class = "form-control select2", @style = "width: 100%;" })
                            @Html.AdminLTEDropDownList("Test", selectList, new { @class = "form-control select2", @style = "width: 100%;" })
                                                @{
                                                    WebGrid grid = new WebGrid(source : ViewBag.Roles);
                                                    @grid.GetHtml();
                                                }*@


                        <div id="role-table-display">
                            @Html.Partial(BusinessExcel.Controllers.AdminController.ROLETABLEPARTIAL)
                        </div>
                        <div id="role-creation-form">
                            @Html.Partial(BusinessExcel.Controllers.AdminController.AJAXCREATEROLE,
                        new BusinessExcel.Models.RolesNameModel())
                        </div>
                    </div>
                </div>
            </div>

            @*
                @{
                    var selectList = new List<SelectListItem>();
                    SelectListItem item = new SelectListItem() { Text = "Text1", Value = "Value1" };
                    selectList.Add(item);
                    item = new SelectListItem() { Text = "Text2", Value = "Value2" };
                    selectList.Add(item);
                    item = new SelectListItem() { Text = "Text3", Value = "Value3" };
                    selectList.Add(item);
                    item = new SelectListItem() { Text = "Text4", Value = "Value4" };
                    selectList.Add(item);

                }
                @Html.DropDownList("Test", selectList, new { @class = "form-control select2", @style = "width: 100%;" })
                @Html.AdminLTEDropDownList("Test", selectList, new { @class = "form-control select2", @style = "width: 100%;" })
            *@

            <div class="col-md-6">
                <div class="box box-primary" id="change-user-name-form">
                    <div class="box-header with-border">
                        <h3 class="box-title">Users</h3>
                    </div>
                    <div class="box-body">
                        <div id="user-table-display">
                            @Html.Partial(BusinessExcel.Controllers.AdminController.USERSTABLEPARTIAL)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="box box-primary" id="change-user-name-form">
                    <div class="box-header with-border">
                        <h3 class="box-title">User Requests</h3>
                    </div>
                    <div class="box-body">
                        <div id="user-approval-table-display">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.content -->