@using BusinessExcel.Models
@using BootstrapHtmlHelper
@using BusinessExcel.Providers.ProviderContext.Entities
@using BusinessExcel.Providers.ProviderContext

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="../../Images/gs_icon.ico" />
    <script>
        var paceOptions = {
            ajax: true, // disabled
            document: false, // disabled
            eventLag: false, // disabled
            startOnPageLoad: false,
            restartOnPushState: false
        };
    </script>
    @Scripts.Render("~/bundles/all")
    @Scripts.Render("~/bundles/pace")
    @Styles.Render("~/Content/themes/select2")
    @Styles.Render("~/bundles/inputmask")

    @Styles.Render("~/Content/themes/table-daily-upate-view")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/themes/adminlte/css")
    @Styles.Render("~/Content/css")
    @RenderSection("extraStyles", false)
</head>
<body class="hold-transition skin-blue sidebar-mini">

    @Html.Partial("_LoadingFailed")
    @RenderSection("dialogs", false)
    <div class="wrapper">

        <header class="main-header">
            @Html.Partial("_MainHeaderAccount", new UserProfile() { UserFullName = ViewBag.UserProfile })
        </header><!-- sidebar: style can be found in sidebar.less -->
        <aside class="main-sidebar">
            @Html.Partial("_MainSideBarAccount", new UserProfile() { UserFullName = ViewBag.UserProfile })
        </aside><div class="content-wrapper">

            @*<div class="progress-xxs">
                    <div id="page-load" class="progress-bar progress-bar-striped active" style="width: 0%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>*@
            <div id="main-body">

                @RenderBody()
            </div>
        </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            @Html.Partial("_MainFooterAccount")
        </footer>
    </div>
    <script>
        var AdminLTEOptions = {
            //Add slimscroll to navbar menus
            //This requires you to load the slimscroll plugin
            //in every page before app.js
            navbarMenuSlimscroll: false,
            navbarMenuSlimscrollWidth: "3px", //The width of the scroll bar
            navbarMenuHeight: "200px", //The height of the inner menu
            //General animation speed for JS animated elements such as box collapse/expand and
            //sidebar treeview slide up/down. This options accepts an integer as milliseconds,
            //'fast', 'normal', or 'slow'
            animationSpeed: 500,
            //Sidebar push menu toggle button selector
            sidebarToggleSelector: "[data-toggle='push-menu']",
            //Activate sidebar push menu
            sidebarPushMenu: true,
            //Activate sidebar slimscroll if the fixed layout is set (requires SlimScroll Plugin)
            sidebarSlimScroll: true,
            //Enable sidebar expand on hover effect for sidebar mini
            //This option is forced to true if both the fixed layout and sidebar mini
            //are used together
            sidebarExpandOnHover: false,
            //BoxRefresh Plugin
            enableBoxRefresh: true,
            //Bootstrap.js tooltip
            enableBSToppltip: true,
            BSTooltipSelector: "[data-toggle='tooltip']",
            //Enable Fast Click. Fastclick.js creates a more
            //native touch experience with touch devices. If you
            //choose to enable the plugin, make sure you load the script
            //before AdminLTE's app.js
            enableFastclick: true,
            //Control Sidebar Options
            enableControlSidebar: true,
            controlSidebarOptions: {
                //Which button should trigger the open/close event
                toggleBtnSelector: "[data-toggle='control-sidebar']",
                //The sidebar selector
                selector: ".control-sidebar",
                //Enable slide over content
                slide: true
            },
            //Box Widget Plugin. Enable this plugin
            //to allow boxes to be collapsed and/or removed
            enableBoxWidget: true,
            //Box Widget plugin options
            boxWidgetOptions: {
                boxWidgetIcons: {
                    //Collapse icon
                    collapse: 'fa-minus',
                    //Open icon
                    open: 'fa-plus',
                    //Remove icon
                    remove: 'fa-times'
                },
                boxWidgetSelectors: {
                    //Remove button selector
                    remove: '[data-widget="remove"]',
                    //Collapse button selector
                    collapse: '[data-widget="collapse"]'
                }
            },
            //Direct Chat plugin options
            directChat: {
                //Enable direct chat by default
                enable: true,
                //The button to open and close the chat contacts pane
                contactToggleSelector: '[data-widget="chat-pane-toggle"]'
            },
            //Define the set of colors to use globally around the website
            colors: {
                lightBlue: "#3c8dbc",
                red: "#f56954",
                green: "#00a65a",
                aqua: "#00c0ef",
                yellow: "#f39c12",
                blue: "#0073b7",
                navy: "#001F3F",
                teal: "#39CCCC",
                olive: "#3D9970",
                lime: "#01FF70",
                orange: "#FF851B",
                fuchsia: "#F012BE",
                purple: "#8E24AA",
                maroon: "#D81B60",
                black: "#222222",
                gray: "#d2d6de"
            },
            //The standard screen sizes that bootstrap uses.
            //If you change these in the variables.less file, change
            //them here too.
            screenSizes: {
                xs: 480,
                sm: 768,
                md: 992,
                lg: 1200
            }
        }

    </script>
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            Pace.options = {
                ajax: true
            }
        })

        $(document).ajaxStart(function () {
            //Pace.restart();
        })
        function ajax_call_load_success(data, status, xhr, url) {

            //xhr - the ajax response
            //status - the response text, ex. "success"
            //entityName - your custom argument, in this example 'Person'

            //url is the var for the new URL we would normally be going to (if we wasnt AJAXING)

            //get current URL and remove domain name.
            nohttp = url.replace("http://", "").replace("https://", "");
            firstsla = nohttp.indexOf("/");
            pathpos = url.indexOf(nohttp);
            path = url.substring(pathpos + firstsla);

            //Create a state object for tracking the history (this is passed back later)
            var stateObj = { foo: 1000 + Math.random() * 1001 };
            history.pushState(stateObj, "ajax page loaded...", path);
            try {
                viewInit();
            }
            catch (err) { }
        }

        function ajax_call_load_complete(xhr, status) {
        }

        function viewInit() {
            $(window).trigger('resize');
            $('.box').boxWidget();
            $(":input").inputmask();
            $.validator.unobtrusive.parse('form');
        }
        function move(myBar) {

        }
        function loadin_failed(data) {
            var style = '<style>'
                + '#server_error_message body {font-family:"Verdana";font-weight:normal;font-size: .7em;color:black;} '
                + '#server_error_message p {font-family:"Verdana";font-weight:normal;color:black;margin-top: -5px}'
                + '#server_error_message b {font-family:"Verdana";font-weight:bold;color:black;margin-top: -5px}'
                + '#server_error_message H1 { font-family:"Verdana";font-weight:normal;font-size:18pt;color:red }'
                + '#server_error_message H2 { font-family:"Verdana";font-weight:normal;font-size:14pt;color:maroon }'
                + '#server_error_message pre {font-family:"Consolas","Lucida Console",Monospace;font-size:11pt;margin:0;padding:0.5em;line-height:14pt}'
                + '#server_error_message .marker {font-weight: bold; color: black;text-decoration: none;}'
                + '#server_error_message .version {color: gray;}'
                + '#server_error_message .error {margin-bottom: 10px;}'
                + '#server_error_message .expandable { text-decoration:underline; font-weight:bold; color:navy; cursor:hand; }'
                + '@@media screen and (max-width: 639px) {'
                + 'pre { width: 440px; overflow: auto; white-space: pre-wrap; word-wrap: break-word; }'
                + '}'
                + '@@media screen and (max-width: 479px) {'
                + 'pre { width: 280px; }'
                + '}'
                + '</style>'
            var responce =
                data.responseText.replace(/<style>[\s\S]*?<\/style>/g, style)
            var message = '<div id="server_error_message"><p>'
                + '<a class="btn btn-link" data-toggle="collapse" href="#error-message-ajax" role="button" aria-expanded="false" aria-controls="collapseExample">'
                + data.status
                + ' '
                + data.statusText
                + '</a></p>'
                + '<div class="collapse" id="error-message-ajax">'
                + '<div class="card card-body">'
                + responce
                + '</div></div>'
                + '</div>'
            $('#loading-failure-body').html(message)
            //$('.collapse').collapse()
            $('#loading-failure').modal();
        }

        function set_this_active(me) {
            try {
                $('.sidebar li').each(function () {
                    $(this).removeClass('active')
                })
            }
            catch (err) { }
            $('#' + me).addClass('active')
            try {
                $('.treeview').each(function (name, value) {

                    var x = $(value).find('#' + me)
                    if (x.length !== 0) {
                        $(value).addClass('active')
                        $(value).addClass('menu-open')
                    }
                    else {
                        $(value).removeClass('menu-open')
                    }
                })
            }
            catch (err) {
                alert("Error " + err)
            }
        }
    
        function numberWithCommas(number) {
            var parts = number.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return parts.join(".");
        }
        $(document).ready(function () {
        });
        function numberFormater() {
            $(".numaric").each(function () {
                try {
                    var num = Number($(this).text());
                    var commaNum = numberWithCommas(num);
                    if(!isNaN(commaNum)){
                        $(this).text(commaNum);
                    }
                }
                catch (err) { }
            });
        }
    </script>

    @RenderSection("extraScripts", false)

</body>
</html>
