@model UserProfile

@using BootstrapHtmlHelper
@using BusinessExcel.Models
@using BusinessExcel.Providers.ProviderContext.Entities
@using BusinessExcel.Controllers
@{
    ViewContext viewContext = Html.ViewContext;
    RouteValueDictionary routeValues = viewContext.RouteData.Values;
    string currentAction = routeValues["action"].ToString();
    string currentController = routeValues["controller"].ToString();
}
<!-- Inner sidebar -->
<div class="main-sidebar">
    <!-- user panel (Optional) -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="../../Images/avatar-160X160.png" class="img-circle user-image" />
        </div>
        <div class="pull-left info">
            <p name="user-full-name-display">@Model.UserFullName</p>

            @*<a href="#"><i class="fa fa-circle text-success"></i> Online</a>*@
        </div>
    </div><!-- /.user-panel -->

    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">USER CONTROLS</li>

            @Ajax.AjaxAdminLTEActionLink(
                   linkText: AccountsController.WELCOME_TITLE,
                   actionName: AccountsController.WELCOME,
                   controllerName: AccountsController.ACCOUNTS,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(AccountsController.WELCOME, AccountsController.ACCOUNTS, null, this.Request.Url.Scheme) + "');{0}",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   isNavSideBar: true,
                   carrot: "fa fa-home")
            @Ajax.AjaxAdminLTEActionLink(
                   linkText: AccountsController.MYPROFILE_TITLE,
                   actionName: AccountsController.MYPROFILE,
                   controllerName: AccountsController.ACCOUNTS,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(AccountsController.MYPROFILE, AccountsController.ACCOUNTS, null, this.Request.Url.Scheme) + "');{0}",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   isNavSideBar: true,
                   carrot: "fa fa-user")

            @if (User.IsInRole(BERoleDetails.SYSTEM_ADMINISTRATOR))
            {
                <li>
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">ADMIN CONTROLS</li>
                        <!-- Optionally, you can add icons to the links -->
                        <li class="treeview @Html.IsSelected(controllers:AdminController.ADMIN,actions:AdminController.USERMANAGEMENT+","+AdminController.VIEWMANAGEMENT,cssClass:"active")">
                            <a href="#"><i class="fa fa-user-secret"></i><span>Security</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                @Ajax.AjaxAdminLTEActionLink(
                   linkText: AdminController.USERMANAGEMENT_TITLE,
                   actionName: AdminController.USERMANAGEMENT,
                   controllerName: AdminController.ADMIN,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(AdminController.USERMANAGEMENT, AdminController.ADMIN, null, this.Request.Url.Scheme) + "');{0}",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   isNavSideBar: true,
                   carrot: "fa fa-user-md")

                                @Ajax.AjaxAdminLTEActionLink(
                   linkText: AdminController.USERSTREE_TITLE,
                   actionName: AdminController.USERSTREE,
                   controllerName: AdminController.ADMIN,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(AdminController.USERSTREE, AdminController.ADMIN, null, this.Request.Url.Scheme) + "');{0}",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   isNavSideBar: true,
                   carrot: "fa fa-sitemap")



                                @Ajax.AjaxAdminLTEActionLink(
                   linkText: AdminController.VIEWMANAGER_TITLE,
                   actionName: AdminController.VIEWMANAGEMENT,
                   controllerName: AdminController.ADMIN,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(AdminController.VIEWMANAGEMENT, AdminController.ADMIN, null, this.Request.Url.Scheme) + "');{0}",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   isNavSideBar: true,
                   carrot: "fa fa-puzzle-piece")
                            </ul>

                        <li class="treeview @Html.IsSelected(controllers:RosterController.ROSTERCONTROLLER,actions: RosterController.ROSTER_ACTION, cssClass:"active")">
                            @*Rosters*@
                            <a href="#"><i class="fa fa-yelp"></i><span>Activities</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">


                                @*@Ajax.AjaxAdminLTEActionLink(
                   linkText: TargetController.TARGET_TITLE,
                   actionName: TargetController.TARGET,
                   controllerName: TargetController.TARGETCONTROLLER,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(TargetController.TARGET, TargetController.TARGETCONTROLLER, null, this.Request.Url.Scheme) + "');{0}",
                       OnBegin = "move('#page-load')",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   carrot: "fa fa-rocket")*@




                                @Ajax.AjaxAdminLTEActionLink(
                   linkText: RosterController.ROSTER_TITLE,
                   actionName: RosterController.ROSTER_ACTION,
                   controllerName: RosterController.ROSTERCONTROLLER,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(TargetController.TARGET, TargetController.TARGETCONTROLLER, null, this.Request.Url.Scheme) + "');{0}",
                       OnBegin = "move('#page-load')",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       //OnComplete = "ajax_call_load_complete('#page-load')",
                       OnFailure = "loadin_failed"
                   },
                   carrot: "fa fa-user-md")


                                @*@Ajax.AjaxAdminLTEActionLink(
                   linkText: TargetController.TARGETTEMPLATE_TITLE,
                   actionName: TargetController.TARGETTEMPLATE,
                   controllerName: TargetController.TARGETCONTROLLER,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(TargetController.TARGETTEMPLATE, TargetController.TARGETCONTROLLER, null, this.Request.Url.Scheme) + "');{0}",
                       OnBegin = "move('#page-load')",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       //OnComplete = "ajax_call_load_complete('#page-load')",
                       OnFailure = "loadin_failed"
                   },
                   carrot: "fa fa-user-md")*@






                                @Ajax.AjaxAdminLTEActionLink(
                   linkText: TargetController.LOCATIONTARGET_TITLE,
                   actionName: TargetController.LOCATIONTARGET,
                   controllerName: TargetController.TARGETCONTROLLER,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(TargetController.LOCATIONTARGET, TargetController.TARGETCONTROLLER, null, this.Request.Url.Scheme) + "');{0}",
                       OnBegin = "move('#page-load')",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       //OnComplete = "ajax_call_load_complete('#page-load')",
                       OnFailure = "loadin_failed"
                   },
                   carrot: "fa fa-bullseye")


                                @Ajax.AjaxAdminLTEActionLink(
                   linkText: TargetController.TARGETDISTRIBUTION_TITLE,
                   actionName: TargetController.TARGETDISTRIBUTION,
                   controllerName: TargetController.TARGETCONTROLLER,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(TargetController.TARGETDISTRIBUTION, TargetController.TARGETCONTROLLER, null, this.Request.Url.Scheme) + "');{0}",
                       OnBegin = "move('#page-load')",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       //OnComplete = "ajax_call_load_complete('#page-load')",
                       OnFailure = "loadin_failed"
                   },
                   carrot: "fa fa-random")
                            </ul>
                        </li>
                </li>
            </ul>
            </li>
            }

            <li>
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">REPORTS</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="treeview @Html.IsSelected(controllers:ReportController.REPORTCONTROLLER,actions:currentAction,cssClass:"active")">
                        <a href="#"><i class="fa fa-eye"></i><span>Action</span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            @Ajax.AjaxAdminLTEActionLink(
                   linkText: ReportController.ACTIONS_TITLE,
                   actionName: ReportController.ACTIONS,
                   controllerName: ReportController.REPORTCONTROLLER,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(ReportController.ACTIONS, ReportController.REPORTCONTROLLER, null, this.Request.Url.Scheme) + "');{0}",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   isNavSideBar: true,
                   carrot: "fa fa-tasks")


                            @Ajax.AjaxAdminLTEActionLink(
                   linkText: ItemsController.ITEM_TITLE,
                   actionName: ItemsController.ITEM_INDEX,
                   controllerName: ItemsController.ITEM_CONTROLLER,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(ItemsController.ITEM_INDEX, ItemsController.ITEM_CONTROLLER, null, this.Request.Url.Scheme) + "');{0}",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   isNavSideBar: true,
                   carrot: "fa fa-tasks")




                            @Ajax.AjaxAdminLTEActionLink(
                   linkText: CheckinController.CHECKIN_TITLE,
                   actionName: CheckinController.CHECKIN_INDEX,
                   controllerName: CheckinController.CHECKIN_CONTROLLER,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(CheckinController.CHECKIN_INDEX, CheckinController.CHECKIN_CONTROLLER, null, this.Request.Url.Scheme) + "');{0}",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   isNavSideBar: true,
                   carrot: "fa fa-tasks")

                            @Ajax.AjaxAdminLTEActionLink(
                   linkText: CompetitorController.COMPETITOR_TITLE,
                   actionName: CompetitorController.COMPETITOR_INDEX,
                   controllerName: CompetitorController.COMPETITOR_CONTROLLER,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(CompetitorController.COMPETITOR_INDEX, CompetitorController.COMPETITOR_CONTROLLER, null, this.Request.Url.Scheme) + "');{0}",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   isNavSideBar: true,
                   carrot: "fa fa-tasks")







                            @Ajax.AjaxAdminLTEActionLink(
                   linkText: "Loading Error.",
                   actionName: "Test",
                   controllerName: ReportController.REPORTCONTROLLER,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(ReportController.ACTIONS, ReportController.REPORTCONTROLLER, null, this.Request.Url.Scheme) + "');{0}",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   isNavSideBar: true,
                   carrot: "fa fa-tasks")
                        </ul>
                    </li>


                    <li class="treeview @Html.IsSelected(controllers:ReportController.REPORTCONTROLLER,actions:currentAction,cssClass:"active")">
                        <a href="#"><i class="fa fa-rss"></i><span>Target Achievement</span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">

                            @Ajax.AjaxAdminLTEActionLink(
                   linkText: ReportController.TARGETACHIEVEMENT_ACTIONS_TITLE,
                   actionName: ReportController.TARGETACHIEVEMENTACTIONS,
                   controllerName: ReportController.REPORTCONTROLLER,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(TargetController.TARGET, TargetController.TARGETCONTROLLER, null, this.Request.Url.Scheme) + "');{0}",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   isNavSideBar: true,
                   carrot: "fa fa-tasks")


                            @Ajax.AjaxAdminLTEActionLink(
                   linkText: ReportController.CATEGORYACHIEVEMENT_TITLE,
                   actionName: ReportController.CATEGORYACHIEVEMENT,
                   controllerName: ReportController.REPORTCONTROLLER,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(TargetController.TARGET, TargetController.TARGETCONTROLLER, null, this.Request.Url.Scheme) + "');{0}",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   isNavSideBar: true,
                   carrot: "fa fa-tasks")


                            @Ajax.AjaxAdminLTEActionLink(
                   linkText: ReportController.USER_TARGET_ACHIEVEMENT_TITLE,
                   actionName: ReportController.USER_TARGET_DETAILS,
                   controllerName: ReportController.REPORTCONTROLLER,
                   ajaxOptions: new AjaxOptions()
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "main-body",
                       OnSuccess = "ajax_call_load_success(data, status, xhr,'"
                            + this.Url.Action(ReportController.USER_TARGET_DETAILS, ReportController.REPORTCONTROLLER, null, this.Request.Url.Scheme) + "');{0}",
                       OnComplete = "ajax_call_load_complete(xhr, status)",
                       OnFailure = "loadin_failed"
                   },
                   isNavSideBar: true,
                   carrot: "fa fa-tasks")


                        </ul>
                    </li>


                </ul>
            </li>
            </ul>
        </section>

    </div>