@using BusinessExcel.Models
@using BusinessExcel.Providers.ProviderContext
@using BusinessExcel.Controllers.JSON
@using BusinessExcel.Controllers
@using BootstrapHtmlHelper

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">@TargetController.SETTING_TARGET</h3>
    </div>
    <div class="box-body">
        <div id="table-settings-incentive-factor-view">
            @using (var db = new SalesManageDataContext())
            {
                int count = 0;
                var dataList = db.getIncentiveFactorDetails(account: null,
                    category:null,
                    Page: ViewBag.Page == null ? 1 : ViewBag.Page,
                    RowCount: out count
                            );
                var grid = new WebGrid(ajaxUpdateContainerId: "table-settings-incentive-factor-view",
                    ajaxUpdateCallback: TargetController._SETTINGLOCATION,
                    rowsPerPage: 20
                    );
                grid.Bind(source: dataList,
                    autoSortAndPage: false,
                    rowCount: count);
                @grid.GetHtml(
                           tableStyle: "table table-striped table-bordered be-pagination-spl",
                           htmlAttributes: new { @id = "table-settings-incentive-factor-table" },
                           columns: new[] {
                               grid.Column(columnName:"Account",
                               header:Html.AdminLTESorter("Account","Account",grid),
                               format:(item)=>@Html.AdminLTEParagraph((string)@item.account),
                               style:"name",canSort:true),

                               grid.Column(columnName:"Line",header:"Line",
                               format:(item)=>@Html.AdminLTEParagraph((string)@item.category),
                               style:"location",canSort:false),

                               grid.Column(columnName:"Factor",header:"Factor",
                               format:(item)=>@Html.AdminLTEParagraph((decimal)@item.factor),
                               style:"location",canSort:false),

                               grid.Column(columnName:"Threshold",header:"Threshold",
                               format:(item)=>@Html.AdminLTEParagraph((decimal)@item.threshold),
                               style:"location",canSort:false)
                           },
                           footerStyle: "extra-table-pager"
                           )

                @grid.PagerList(mode: WebGridPagerModes.FirstLast | WebGridPagerModes.NextPrevious | WebGridPagerModes.Numeric,
                           nextText: "NEXT",
                           firstText: "FIRST",
                           previousText: "PREV.",
                           lastText: "LAST")
            }
        </div>

        <div class="pull-right box-body">
            @Ajax.AjaxAdminLTEActionLink(
           linkText: "Add",
           actionName: TargetController._ADDINCENTIVEFACTORDETAILS,
           controllerName: TargetController.TARGET,
           ajaxOptions: new AjaxOptions()
           {
               HttpMethod = "Get",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "add-incentive-factor-block",
               OnFailure = "loadin_failed",
               LoadingElementId= "add-incentive-progress"
           },
            LoadingElementId:
            "add-incentive-progress",
            buttonAttributes: new Dictionary<string, object> (){ { "class","btn btn-primary" } },
            Image:
            Url.Content("~/Images/progress.gif")
            )

        </div>
        <div id="add-incentive-factor-block"></div>
    </div>
</div>
