@using BusinessExcel.Models
@using BusinessExcel.Providers.ProviderContext.Entities
@using BusinessExcel.Providers.ProviderContext
@using BusinessExcel.Controllers.JSON
@using BusinessExcel.Controllers
@using BootstrapHtmlHelper

@model SalesExcecutiveQuarterTarget


@{
    var temp = new Dictionary<string, object>
    () { { "class", "form-control" }, { "autocomplete", "off" } };
}
<section class="content-header">
    <h1>
        @TargetController.TARGET
        <small>@TargetController.SALES_EXECUTIVE_TARGET</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i>@TargetController.SALES_EXECUTIVE_TARGET</a>
        </li>
        <li class="active">@AccountsController.WELCOME_TITLE</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-8" id="global-setting-details">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@TargetController.SALES_EXECUTIVE_TARGET</h3>
                </div>
                <div class="box-body table-form">
                    @using (Ajax.BeginForm(
                controllerName: TargetController.TARGET,
                actionName: TargetController.SALESEXECUTIVETARGET,
                htmlAttributes: new { id = "target-location-create-form" },
                routeValues: null,
                ajaxOptions: new AjaxOptions()
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Post",
                    UpdateTargetId = "user-quarter-targets",
                    OnBegin = "move('#page-load')",
                    OnComplete = "ajax_call_load_complete('#page-load')",
                    OnFailure = "loadin_failed",
                    LoadingElementId = "target-load-progress"
                }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-6">
                                @Html.AdminLTEDropDownListFor(
                                m => m.UserName,
                                htmlLabelAttributes: null,
                                htmlDropDownAttributes: new Dictionary<string, object>
                                    () {
                                    { "class", "form-control select2" }
                                    },
                                    htmlGroupAttributes: new Dictionary<string, object>
                                        ()
                                    { },
                                        autoCompleteOptions: new AutoCompleteOptions()
                                        {
                                            AjaxOptions = new AjaxOptions()
                                            {
                                                HttpMethod = "GET",
                                                Url = Url.Action(actionName: JSONController.USERAUTOCOMPLETERFORSE, controllerName: JSONController.JSONCONTROLLER)
                                            },
                                            DescriptionField = "full_name",
                                            IDField = "user_name",
                                            Formate = "'<tr><td>' + state.id + '</td><td><span>' + state.text + '</span></td></tr>'",
                                            SelectedItem = ViewData[RosterController.SELECTED_FILTED_USER],

                                            IsAutoComplete = true,
                                            SelectItems = null
                                        },
                                        showLabel: true)
                            </div>

                            <div class="col-md-6">
                                @Html.AdminLTETextBoxFor(m => m.Quarter_Name,
                                null,
                                new Dictionary<string, object>
                                    () { { "class", "form-control" }, { "autocomplete", "off" } },
                                    null,
                                    null,
                                    "",
                                    true,
                                    true,
                                    true)

                                @*@Html.AdminLTEDateRangePickerFor(
                                    m => Model.StartDate,
                                    m => Model.EndDate,
                                    "Date Range",
                                    htmlLabelAttributes: null,
                                    htmlTextBoxAttributes: temp,
                                    htmlGroupAttributes: null,
                                    htmlGlyphiconsAttributes: null,
                                    glyphiconsName: "fa fa-calendar",
                                    showLabel: false,
                                    hasValidation: true,
                                    showGlyphicons: true)*@
                            </div>
                        </div>

                        <div class="row" style="padding-top:10px">
                            <div class="col-md-7"></div>
                            <div class="col-md-3">
                                @Html.AdminLTEFromSubmitter("Load",
                                "target-load-progress",
                                new Dictionary<string, object>
                                    () {
                                    { "type", "submit" } ,
                                    { "class","btn btn-primary"}
                                    },
                                    Url.Content("~/Images/progress.gif")
                                    )
                            </div>
                        </div>
                    }
                </div>
                <div id="user-quarter-targets"></div>
            </div>
        </div>
    </div>
</section>


<script>


        $.fn.datepicker.dates['qtrs'] = {
            days: ["Sunday", "Moonday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            daysShort: ["Sun", "Moon", "Tue", "Wed", "Thu", "Fri", "Sat"],
            daysMin: ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"],
            months: ["Q1 -", "Q2 -", "Q3 -", "Q4 -", "", "", "", "", "", "", "", ""],
            monthsShort: ["Jan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Feb&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mar", "Apr&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jun", "Jul&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aug&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sep", "Oct&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nov&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dec", "", "", "", "", "", "", "", ""],
            today: "Today",

            clear: "Clear",
            format: "mm/dd/yyyy",
            titleFormat: "MM yyyy",
            /* Leverages same syntax as 'format' */
            weekStart: 0
        };
        $('#Quarter_Name').datepicker({
            format: "MM yyyy",
            minViewMode: 1,
            autoclose: true,
            language: "qtrs",
            forceParse: false
        }).on("show", function (event) {

            $(".month").each(function (index, element) {
                if (index > 3) $(element).hide();
            });

        });
    function change_edit_tab() {
        $('#loc-target-setup a[href="#target-location-create"]').tab('show')
    }
    function get_new_location() {
        $.ajax({
            url: "@Url.Action(TargetController._NEWLOCATIONTARGETEDITCREATE, TargetController.TARGET, null)",

            success: function (data) {
                $('#target-location-create').html(data);
            }
        })
    }
    function remove_messages() {
        $(".save-messages").html = "";
    }

    function target_line_changed() {
        var sum = Number(0);

        $("#target-row").find("input[name*='].Target']").each(function () {
            sum = sum + Number($(this).val());
        })
        $("p[id='TotalTarget']").html(sum)
    }
</script>
