

@using BusinessExcel.Models
@using BusinessExcel.Controllers
@using BootstrapHtmlHelper
@using BusinessExcel.Providers.ProviderContext
@using BusinessExcel.Providers.ProviderContext.Entities
@using BusinessExcel.Controllers.JSON


@model TargetViewModel





@using (Ajax.BeginForm(
                                                                                                               actionName: BusinessExcel.Controllers.TargetController.AJAXCREATETARGETDETAILS,
                                                                                                                routeValues: null,
                                                                                                                ajaxOptions: new AjaxOptions()
                                                                                                                {
                                                                                                                    UpdateTargetId = "target-details-creation-form",
                                                                                                                    InsertionMode = InsertionMode.Replace,
                                                                                                                    OnSuccess = "refreshTargetList",
                                                                                                                    OnFailure = ""
                                                                                                                },
                                                                                                                htmlAttributes: new { @class = "form-inline" })
                                                                                                                                                                                                                                                    )
{



    @Html.ValidationSummary(true)


    <fieldset>


        <div class="row">



            @Html.AdminLTEDropDownListFor(
                         m => m.category_id,
                         htmlLabelAttributes: null,


                           htmlDropDownAttributes: new Dictionary<string, object>() {
                                                                    { "class", "form-control select2" }

                            },
                         htmlGroupAttributes: new Dictionary<string, object>() { { "class", "col-md-3 " }, { "onChange", "SelectedCategoryName(this)" } },
                         //htmlGroupAttributes: new Dictionary<string, object>() { { "class", "col-md-3 " }},
                         autoCompleteOptions: new AutoCompleteOptions()
                         {
                             AjaxOptions = new AjaxOptions()
                             {
                                 HttpMethod = "GET",
                                 Url = Url.Action(actionName: JSONController.CATEGORYAUTOCOMPLETER, controllerName: JSONController.JSONCONTROLLER)
                             },

                             DescriptionField = "description",
                             IDField = "category_id",
                             Formate = "'<tr><td>' + state.id + '</td><td><span>' + state.text + '</span></td></tr>'",
                             SelectedItem = ViewData[TargetController.SELECTED_FILTED_CATERGORY],

                             IsAutoComplete = true,
                             SelectItems = null
                         },
                         showLabel: true)



            <div class="col-md-3">

                @Html.AdminLTETextBoxFor(m => m.value,
            null,
            new Dictionary<string, object>() { { "class", "form-control" }, { "autocomplete", "off" }, { "maxlength", 10 }, { "onkeypress", "return isNumberKey(event)" } },
            null,
            null,
            "",
            true,
            true,
            true)

            </div>

            <div class="col-md-2" style="margin-top:3%">

                @*@Html.AdminLTECheckBoxFor(m => m.has_bonus,
                null,
                new Dictionary<string, object>() { { "class", "form-control" }, { "onclick", "checkFluency()" } },
                null,
                null,
                false,
                true)*@

                <label >
                     @Html.CheckBoxFor(m => m.has_bonus) Has bonus
                </label>

                @*<input type="checkbox" name="has_bonus" id="has_bonus"  />*@

            </div>
          
            <div class="col-md-2" style="margin-top:2%">
                <div class="pull-right">
                    <input id="btnAddBook" type="button" class="btn  btn-info"
                           onclick=" addRow();" value="Add To List" />
                    </div>
                </div>

            @*<div class="col-md-1" style="margin-top:2.4%">

                    <button type="button" class="btn btn-primary addlist " id="btnAdd" onclick="addRow('grid')" >Add </button>

                </div>*@



        </div>

        <div>
            @*<input id="btnAddBook" type="button"
                   onclick="addRow();" value="Add" />*@
        </div>

        <div class="row">  
            <div class="col-md-10">
                <table id="Tabtarget"  >
                    <thead style="background-color:#a5a8ad;font-weight:bold">
                        <tr>
                            <td>
                                Category
                            </td>
                            <td>
                                Target Amount
                            </td>
                            <td >
                               Has Bonus
                            </td>
                            <td style="width:10%">
                        
                            </td>
                        </tr>
                    </thead>
                    <tbody id="targetlist"></tbody>
                </table>
                </div>
            </div>
        @*<p>
            <input type="button" value="Sumbit"  class="create"/>
        </p>*@

    </fieldset>

    @*<div class="row">
            <div class="col-md-12">
                <div class="box box-primary" id="target-detail-form">
                    <div class="box-body" style="padding:10px">
                        <div id="target-details-creation-form">
                            @Html.Action(BusinessExcel.Controllers.TargetController.TARGELIST
                          )

                        </div>


                    </div>

                </div>

            </div>

        </div>*@



    <input value="" id="ctgName" name="ctgName" type="hidden" >


    

}

<style type="text/css">

    #Tabtarget {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#Tabtarget td, #Tabtarget th {
    border: 1px solid #ddd;
    padding: 8px;
}



/*#Tabtarget tr:hover {background-color: #ddd;}*/

#Tabtarget th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
    /*#Tabtarget {
    font-family: arial, sans-serif;
    border-collapse: collapse;
   width:100%;
}

#Tabtarget  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
}*/


#Tabtarget input {
    border: 0;
}




</style>

<script type="text/javascript">


   

    function SelectedCategoryName(ddlObject) {



        var ctgName = $(ddlObject).find('option:selected').text();
        $("#ctgName").val(ctgName);

    }

    function addRow() {
       
        @{
            //  Model.TargetListsDetails.Add(new TargetDetails());
          }


        var table = document.getElementById("targetlist");

        var curOd = $('#category_id').val();
        var amt = $('#value').val();

        if (curOd <= 0)
        {
            alert("Please select category");
           
            return false;
        }
       if (amt<=0)
        {
           alert("Please enter target amount");
           $('#value').focus();
            return false;
        }
       
        for (var i = 0; i < table.rows.length; i++) {
            if( table.rows[i].cells[1].childNodes[0].value==curOd )
            {
                alert("Given category already addedd");
                return false;
            }
          
           
        }
       
        
    
        
        //if (check_value == pid) {
        //    console.log("ID exist")
        //}
        //else {
        //    console.log("Not exist");
        //}




        //var amt = $('#value').val();
        // alert($('#has_bonus').is(':checked'));
        
    
        var bonus=''

        if($('#has_bonus').is(':checked'))
        {
            bonus = 'checked'
        }
        else
        {
            bonus = ''
        }
     
        var ctgName = $('#ctgName').val();
        var ctgId = $('#category_id').val();
        //alert(bonus);

        var index = $("#targetlist").children("tr").length;

        var indexCell = "<td style='display:none'><input name='Books.Index'  type='hidden' value='" + index + "' /></td>";

        var categoryIdCell = "<td style='display:none'><input name='Books.categoryId'  type='hidden' value='" + ctgId + "'  id='Books_" + index + "__Title'  /></td>";

        var CategoryCell = "<td><input id='Books_" + index + "__Title'  name='Books[" + index + "].Category' type='text' value='" + ctgName + "'  readonly/></td>";
        var amtCell = "<td><input id='Books_" + index + "__Title'  name='Books[" + index + "].amt' type='text' value='" + amt + "' readonly /></td>";
        var bonusCell = "<td><input id='Books_" + index + "__Title'  name='Books[" + index + "].bonus' type='checkbox' value=''  " + bonus + "  disabled='disabled'/></td>";

        var removeCell = "<td><input id='btnAddBook' type='button' value='Remove' onclick='removeRow(" + index + ");'  /></td>";

        var newRow = "<tr id='trBook" + index + "'>" + indexCell + categoryIdCell + CategoryCell + amtCell + bonusCell + removeCell + "</tr>";
 
        $("#targetlist").append(newRow);


       // $('#ctgName').val('');

       
        $('#value').val(0);

        // i$('#has_bonus').val(false);

       
        //$('#category_id').val('-1');
       // $('#category_id').selectedIndex = 1;
    }

    function removeRow(id) {
        var controlToBeRemoved = "#trBook" + id;
        $(controlToBeRemoved).remove();
    }







    $(document).on('click', '.create', function () {

        
     




        var table = document.getElementById("targetlist");

      

        var tableArr = new Array();
        for (var i = 0; i < table.rows.length; i++) {

            var SStudent = { category_id: table.rows[i].cells[1].childNodes[0].value, value: table.rows[i].cells[3].childNodes[0].value, has_bonus: table.rows[i].cells[4].childNodes[0].value }

          
          

           // alert(table.rows[i].cells[4].childNodes[0].value);
          


            tableArr.push(SStudent);

            //tableArr.push({
            //    category_id: table.rows[i].cells[1].innerHTML,
            //    value: table.rows[i].cells[3].innerHTML,
            //    has_bonus: table.rows[i].cells[4].innerHTML,
          
            //});
        }

        
       



        var arr = {
            value: 600, has_bonus: true, category_id: 1, target_id: 1, model_id: 1, target_qty: 0, target_line_id: 1

        };
    
        //list.push(arr);
  
        $.ajax({

            // edit to add steve's suggestion.
            //url: "/ControllerName/ActionName",

            url: '@Url.Action(BusinessExcel.Controllers.TargetController.TARGEADDLIST, BusinessExcel.Controllers.TargetController.TARGETCONTROLLER)',
            // dataType: 'html',
            dataType: "html",
            data: JSON.stringify(tableArr),
            type: "POST",
            contentType: "application/json; charset=utf-8",

            //  contentType: 'application/json; charset=utf-8',
            // dataType: 'json',




            //data: ({
            //    //insert your parameters to pass to controller
            //    id: roster_id
            //}),
            success: function (data) {
                // your data could be a View or Json or what ever you returned in your action method
                // parse your data here
                //alert(data);

                if (data != 0) {

                    // tr.css("background-color", "Red").delay(100).show().fadeOut('slow');;



                    //  $('#successMessage').html("Roster deleted successfully").delay(2000).show().fadeOut('slow');
                }
            },
            begin: function () {
                // $('#role-table-display').modal('hide')
            }
        });

    });
    function masterSaved(masterId)
    {





        var table = document.getElementById("targetlist");



        var tableArr = new Array();
        for (var i = 0; i < table.rows.length; i++) {

            var SStudent = { category_id: table.rows[i].cells[1].childNodes[0].value, value: table.rows[i].cells[3].childNodes[0].value, has_bonus: table.rows[i].cells[4].childNodes[0].value, target_id:masterId }


            //alert(table.rows[i].cells[3].childNodes[0].value);

           // alert(table.rows[i].cells[4].childNodes[0].value);

          //  alert(table.rows[i].cells[4].childNodes[0].find('input[type="checkbox"]:checked'));


            tableArr.push(SStudent);

            //tableArr.push({
            //    category_id: table.rows[i].cells[1].innerHTML,
            //    value: table.rows[i].cells[3].innerHTML,
            //    has_bonus: table.rows[i].cells[4].innerHTML,

            //});
        }






        var arr = {
            value: 600, has_bonus: true, category_id: 1, target_id: 1, model_id: 1, target_qty: 0, target_line_id: 1

        };

        //list.push(arr);

        $.ajax({

            // edit to add steve's suggestion.
            //url: "/ControllerName/ActionName",

            url: '@Url.Action(BusinessExcel.Controllers.TargetController.TARGEADDLIST, BusinessExcel.Controllers.TargetController.TARGETCONTROLLER)',
            // dataType: 'html',
            dataType: "html",
            data: JSON.stringify(tableArr),
            type: "POST",
            contentType: "application/json; charset=utf-8",

            //  contentType: 'application/json; charset=utf-8',
            // dataType: 'json',




            //data: ({
            //    //insert your parameters to pass to controller
            //    id: roster_id
            //}),
            success: function (data) {
                // your data could be a View or Json or what ever you returned in your action method
                // parse your data here
                //alert(data);

                if (data != 0) {

                    // tr.css("background-color", "Red").delay(100).show().fadeOut('slow');;targetlist
                  alert("SAVED SUCCSSFULLY")
                   $('#description').val('');

                   $('#incentive_pct').val('');

                    $('#targetlist').empty();

                    
                    //  $('#successMessage').html("Roster deleted successfully").delay(2000).show().fadeOut('slow');
                }
            },
            begin: function () {
                // $('#role-table-display').modal('hide')
            }
        });
       
    }
</script>