@using BusinessExcel.Models
@using BusinessExcel.Controllers
@using BootstrapHtmlHelper
@using BusinessExcel.Providers.ProviderContext
@using BusinessExcel.Controllers.JSON


@using BusinessExcel.Providers.ProviderContext.Entities


@model TargetSummaryView
@{
    int count = 0;
    var data = new List<TargetSummaryView>();
    var rewards = new List<AcivementReward>();
    decimal TotalTarget = 0;
    decimal TotalAcheeviment = 0;
    decimal TolalPercentage = 0;
    decimal TolalIncentive = 0;
    decimal TolalEntered = 0;

    var grid = new WebGrid(ajaxUpdateContainerId: "target_summary_display",
                        ajaxUpdateCallback: "callBack", rowsPerPage: 200
                                    );
    int iLoop = 0;
    using (var db = new SalesManageDataContext())
    {
        var dataTemp = db.TargetSummaryReportPaging(pageNumber: ViewBag.TargertSummaryViewPage,
                   pageSize: 200,
                   sort: ViewBag.TargertSummaryViewSort,
                   sortdir: ViewBag.TargertSummaryViewDir,
                   count: out count, Filters: Model
                   );
        grid.Bind(source: dataTemp, autoSortAndPage: false, rowCount: count);

        data = new List<TargetSummaryView>(dataTemp);
    }
    var qtrs = data.Select(m => new { Year = m.target_year, Qtr = m.qtr_name }).Distinct().ToList();
}

@functions
{
    bool getRewards(int targetId, int userId, out List<AcivementReward> reward)
    {

        using (var db = new SalesManageDataContext())
        {
            reward = db.Target_Summary_Report_Reward(targetId, userId).ToList();
        }
        return reward.Count > 0;
    }
}


<div id="table-item-view" class="">
    <div id="summary" class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            @foreach (var qtr in qtrs)
            {
                iLoop++;
                <li class="@(iLoop == qtrs.Count ? "active" : "")">
                    <a href="#@string.Format("_{0}_{1}", qtr.Year, qtr.Qtr)" data-toggle="tab" aria-expanded="false">
                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;@qtr.Year &nbsp;Quarter:&nbsp;@qtr.Qtr
                    </a>
                </li>
            }
        </ul>
        <div class="tab-content">
            @{ iLoop = 0; }
            @foreach (var qtr in qtrs)
            {
                iLoop++;
                @*<div class="col-xs-12 box-header">
                        <h3 class="box-title"><i class="fa fa-calendar"></i>&nbsp;&nbsp;@qtr.Year &nbsp;Quarter:&nbsp;@qtr.Qtr</h3>
                    </div>*@
                <div id="@string.Format("_{0}_{1}",qtr.Year,qtr.Qtr)" class="tab-pane @(iLoop==qtrs.Count?"active":"")">
                    @foreach (var targetNames in data.Select(m => new
                    {
                        StaffName = m.user_name,
                        Target = m.roster_name,
                        Location = m.location_name,
                        Status = m.target_status,
                        qtr_name = m.qtr_name,
                        target_id = m.target_id,
                        user_id = m.user_id,
                        Year = m.target_year
                    })
                            .Where(m => m.qtr_name == qtr.Qtr).Distinct())
                    {
                        if (string.IsNullOrEmpty(targetNames.Target)) { continue; }
                        TotalTarget = 0;
                        TotalAcheeviment = 0;
                        TolalPercentage = 0;
                        TolalIncentive = 0;
                        TolalEntered = 0;
                        <div class="box box-default">
                            <div class="box-body no-padding border-left border-right" >
                                <!--Staff Details-->
                                <div class="col-xs-12 col-md-3 no-padding">
                                    <div class="table-responsive ">
                                        <table class="table table-striped table-condensed">
                                            <thead class="text-primary">
                                                <tr>
                                                    <th width="30%">
                                                        Staff Name
                                                    </th>
                                                    <td width="70%">@targetNames.StaffName</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Target for
                                                    </th>
                                                    <td>@targetNames.Target</td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Location
                                                    </th>
                                                    <td>@targetNames.Location</td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Target Status
                                                    </th>
                                                    <td>@targetNames.Status</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--Target and Achievement-->
                                <div class="col-xs-12 col-md-9 no-padding">
                                    <div class="table-responsive">
                                        <table class="table table-condensed table-bordered table-hover ">
                                            <thead>
                                                <tr>

                                                    <th width="12.5%">
                                                        Catogery
                                                    </th>
                                                    <th width="12.5%" class="text-right">
                                                        Base Incentive
                                                    </th>
                                                    <th width="12.5%" class="text-right">
                                                        Entered Base Incentive
                                                    </th>
                                                    <th width="12.5%" class="text-right">
                                                        Target
                                                    </th>
                                                    <th width="12.5%" class="text-right">
                                                        Achivement
                                                    </th>
                                                    <th width="12.5%" class="text-right">
                                                        %
                                                    </th>
                                                    <th width="12.5%" class="text-right">
                                                        Incent Amt
                                                    </th>
                                                    <th width="12.5%" class="text-right">
                                                        Entered Incent Amt
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var lines in data.Select(m => m).Where(m => m.target_id == targetNames.target_id))
                                                {
                                                    lines.ProcessIncentive();
                                                    TotalTarget += lines.TotalTarget ?? 0;
                                                    TotalAcheeviment += lines.TotalAchieved ?? 0;
                                                    @*TolalPercentage = 0;*@
                                                TolalIncentive += lines.TotalIncAmt ?? 0;
                                                TolalIncentive += lines.TotalAmountAcc ?? 0;
                                                TolalEntered += lines.TotalEnteredIncAmt ?? 0;
                                                    <tr>

                                                        <td>
                                                            @lines.category
                                                        </td>
                                                        <td class="text-right">
                                                            @string.Format("{0:#,##0.00}", lines.BaseIncentive)
                                                        </td>
                                                        <td class="text-right">
                                                            @string.Format("{0:#,##0.00}", lines.TotalEnteredBaseIncentive)
                                                        </td>
                                                        <td class="text-right">
                                                            @string.Format("{0:#,##0.00}", lines.TotalTarget)
                                                        </td>
                                                        <td class="text-right">
                                                            @string.Format("{0:#,##0.00}", lines.TotalAchieved)
                                                        </td>
                                                        <td class="text-right">  
                                                            @string.Format("{0:#,##0.00}%", lines.TotalTargetPerc * 100)
                                                        </td>
                                                        <td class="text-right">
                                                            @string.Format("{0:#,##0.00}", lines.TotalIncAmt)
                                                           @{ if ((lines.TotalAmountAcc ?? 0) != 0)
                                                               {
                                                            <span class="pull-left text-sm text-bold @(lines.TotalAmountAcc < 0 ? "text-red" : "text-green")">
                                                                @string.Format("{0:#,##0.00} (Acc.)", lines.TotalAmountAcc)
                                                            </span>
                                                                   }
                                                               }
                                                        </td>
                                                        <td class="text-right">
                                                            @string.Format("{0:#,##0.00}", lines.TotalEnteredIncAmt)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <!--Rewards-->
                                        @if (getRewards(targetNames.target_id ?? 0, targetNames.user_id ?? 0, out rewards))
                                        {
                                            <table class="table table-condensed table-bordered table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th width="25%">
                                                            Week
                                                        </th>
                                                        <th width="12.5%" class="text-right">
                                                            Item Code
                                                        </th>
                                                        <th width="12.5%" class="text-right">
                                                            Category
                                                        </th>
                                                        <th width="12.5%" class="text-right">
                                                            Qty.
                                                        </th>
                                                        <th width="12.5%" class="text-right">
                                                            Unit Incentive
                                                        </th>
                                                        <th width="12.5%" class="text-right">
                                                            Reward Amt
                                                        </th>
                                                        <th width="12.5%" class="text-right">
                                                            Entered Reward Amt
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var reward in rewards)
                                                    {
                                                        TolalIncentive += reward.Reward ?? 0;
                                                        TolalEntered += reward.EnteredReward ?? 0;
                                                        <tr>
                                                            <td width="25%">
                                                                @reward.Week
                                                            </td>
                                                            <td width="12.5%" class="text-right">
                                                                @reward.ItemCode
                                                            </td>
                                                            <td width="12.5%" class="text-right" style="text-overflow:ellipsis">
                                                                @reward.category
                                                            </td>
                                                            <td width="12.5%" class="text-right">
                                                                @reward.Quantity
                                                            </td>
                                                            <td width="12.5%" class="text-right">
                                                                @reward.UnitIncentive
                                                            </td>
                                                            <td width="12.5%" class="text-right">
                                                                @reward.Reward
                                                            </td>
                                                            <td width="12.5%" class="text-right">
                                                                @reward.EnteredReward
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        <!--Total-->
                                        <table class="table table-condensed table-striped table-hover  text-primary no-margin" style="border-top:2px solid #0094ff">
                                            <tbody>
                                                <tr>
                                                    <th width="37.5%" colspan="4">Total</th>
                                                    <th width="12.5%" class="text-right">@string.Format("{0:#,##0.00}", TotalTarget)</th>
                                                    <th width="12.5%" class="text-right">@string.Format("{0:#,##0.00}", TotalAcheeviment)</th>
                                                    <th width="12.5%"></th>
                                                    <th width="12.5%" class="text-right">@string.Format("{0:#,##0.00}", TolalIncentive<0?0: TolalIncentive)</th>
                                                    <th width="12.5%" class="text-right">@string.Format("{0:#,##0.00}", TolalEntered)</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        <style>
            @@media(min-width:992px) {
                #summary .row {
                    margin-right: 15px !important;
                }
            }
        </style>
    </div>

    @grid.PagerList(mode: WebGridPagerModes.FirstLast | WebGridPagerModes.NextPrevious | WebGridPagerModes.Numeric,
        nextText: "NEXT",
        firstText: "FIRST",
        previousText: "PREV.",
        lastText: "LAST")
</div>

<style>
</style>
<script type="text/javascript">
    function callBack(data) {
        $('#summary').html(data);
    }
</script>