
@using BusinessExcel.Models
@using BusinessExcel.Controllers
@using BootstrapHtmlHelper
@using BusinessExcel.Providers.ProviderContext
@using BusinessExcel.Providers.ProviderContext.Entities

@model ActionViewFilters

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @BusinessExcel.Controllers.ReportController.ACTIONS_TITLE
        <small>Report</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @BusinessExcel.Controllers.ReportController.REPORTCONTROLLER</a></li>
        <li class="active">@BusinessExcel.Controllers.ReportController.ACTIONS_TITLE</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    @using (Ajax.BeginForm(ReportController.ACTIONS,
                ReportController.REPORTCONTROLLER,
                new AjaxOptions()
                {
                    HttpMethod = "Get",
                    UpdateTargetId = "main-body",
                    OnBegin = "move('#page-load')",
                    OnComplete = "ajax_call_load_complete('#page-load')",
                    OnFailure = "loadin_failed"
                }))

    {
        <!-- Your Page Content Here -->
        <div class="box box-default collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Filters</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-2">
                        @Html.AntiForgeryToken()

                        @Html.AdminLTETextBoxFor(
                 m => m.ItemCode,
                 null,
                 new Dictionary<string, object>() {
                                        { "class", "form-control" },
                                        { "data-inputmask" , "'mask': '999-9999-999999'" }
                     },
                 null,
                 null,
                 null,
                 true,
                 true,
                 true)

                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>            <!-- /.box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-lg-2">

                        <input type="submit" value="Filter" class="btn btn-primary" />
                    </div>
                    <div class="col-lg-offset-8">

                        @Html.AdminLTEActionLink(
                   linkText: BusinessExcel.Controllers.ReportController.EXPORTEXCEL_TITLE,
                   actionName: BusinessExcel.Controllers.ReportController.EXPORTEXCEL,
                   controllerName: BusinessExcel.Controllers.ReportController.REPORTCONTROLLER,
                   cssClass: "btn btn-link", routeValues: Model,
                   carrot: "fa fa-download")
                    </div>
                </div>
            </div>
        </div><!-- /.box -->
    }
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Merchant Actions</h3>
        </div>
        <div class="box-body">

            <div id="table-daily-upate-view" class="table-responsive">
                @{

                    using (var db = new SalesManageDataContext())
                    {
                        WebGridColumn col = new WebGridColumn()
                        {

                        };

                        int count = 0;
                        IQueryable<DailyUpateView> data = db.DailyUpateViewPaging(pageNumber: ViewBag.DailyUpateViewPage,
                                    pageSize: 20,
                                    sort: ViewBag.DailyUpateViewSort,
                                    sortdir: ViewBag.DailyUpateViewDir,
                                    count: out count, Filters: Model
                                    );
                        var grid = new WebGrid(ajaxUpdateContainerId: "table-daily-upate-view",
                            ajaxUpdateCallback: "TableDailyUpateViewCallback", rowsPerPage: 20
                            );
                        grid.Bind(source: data, autoSortAndPage: false, rowCount: count);
                        @grid.GetHtml(
                           tableStyle: "table table-striped table-bordered be-pagination-spl",
                           htmlAttributes: new { @id = "example" },
                           columns: new[] {
                               grid.Column(columnName:"Name",
                               header:Html.AdminLTESorter("Name","Name",grid),
                               format:(item)=>@Html.AdminLTEParagraph((string)@item.Name),
                               style:"name",canSort:true),

                               grid.Column(columnName:"UserName",header:"User Name",format:null,style:"user-name",canSort:false),

                               grid.Column(columnName:"Location",header:"Location",
                               format:(item)=>@Html.AdminLTEParagraph((string)@item.Location),
                               style:"location",canSort:false),

                               grid.Column(columnName:"Brand",
                               header:Html.AdminLTESorter("Brand","Brand",grid),
                               format:null,style:"brand",canSort:true),

                               grid.Column(columnName:"Category",header:"Category",
                               format:(item)=>@Html.AdminLTEParagraph((string)@item.Category),
                               style:"category",canSort:false),

                               grid.Column(columnName:"CreateTime",
                               header:Html.AdminLTESorter("CreateTime","Create Date",grid),
                               format:x=>string.Format("{0:dd-MMM-yyyy}",x.CreateTime),
                               style:"create-time",canSort:true),

                               grid.Column(columnName:"Item",
                               header:Html.AdminLTESorter("Item","Item",grid),
                               format:null,style:"item",canSort:true),

                               grid.Column(columnName:"Description",header:"Description",
                               format:(item)=>@Html.AdminLTEParagraph((string)@item.Description),
                               style:"description",canSort:false),

                               grid.Column(columnName:"Quantity",header:"Quantity",
                               format:x=>string.Format("{0:0.00}",x.Quantity),
                               style:"quantity",canSort:false),

                               grid.Column(columnName:"TotalValue",header:"Value",      format:x=>string.Format("{0:0.00}",x.TotalValue),   style:"values",canSort:false)
                           },
                           footerStyle: "extra-table-pager"
                           )

                        @grid.PagerList(mode: WebGridPagerModes.FirstLast | WebGridPagerModes.NextPrevious | WebGridPagerModes.Numeric,
                           nextText: "NEXT",
                           firstText: "FIRST",
                           previousText: "PREV.",
                           lastText: "LAST")
                    }
                }
            </div>
        </div>
    </div>

</section><!-- /.content -->
