

@using BusinessExcel.Models
@using BusinessExcel.Controllers
@using BootstrapHtmlHelper
@using BusinessExcel.Providers.ProviderContext
@using BusinessExcel.Providers.ProviderContext.Entities
@using BusinessExcel.Controllers.JSON


@model UserTargetDetailsView

<div id="userData">
    <div class="box">

      
        <div class="box-header with-border">
            <section class="content-header">
            <h1>
                @BusinessExcel.Controllers.ReportController.USER_TARGET_ACHIEVEMENT_TITLE
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Manager</a></li>
                <li class="active">Manager Panel</li>
            </ol>
        </section>
        </div>

            @*<section class="content-header">
                <h1>
                    @BusinessExcel.Controllers.ReportController.USER_TARGET_ACHIEVEMENT_TITLE
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Manager</a></li>
                    <li class="active">Manager Panel</li>
                </ol>
            </section>*@
            <div class="box-body">

                <section class="content">

                    @using (Ajax.BeginForm(

actionName: BusinessExcel.Controllers.ReportController.USER_TARGET_DETAILS,
routeValues: null,

ajaxOptions: new AjaxOptions()
{
    HttpMethod = "Get",
    UpdateTargetId = "userData",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "RefreshTargetList",
    OnFailure = ""
},
htmlAttributes: new { @class = "form-inline" })
                                                                                                                )
                    {



                        <div id="usrDet">

                            <div class="row">


                                <div class="col-md-3">

                                    @Html.AdminLTETextBoxFor(m => m.Type,
null,
new Dictionary<string, object>() { { "class", "form-control" }, { "autocomplete", "off" }, { "readonly", "readonly" }, { "Value", Model.Type } },
null,
null,
"",
true,
true,
true)


                                </div>
                                <div class="col-md-3">

                                    @Html.AdminLTETextBoxFor(m => m.Quarter_Name,
null,
new Dictionary<string, object>() { { "class", "form-control" }, { "autocomplete", "off" }, { "readonly", "readonly" }, { "Value", Model.Quarter_Name } },
null,
null,
"",
true,
true,
true)


                                </div>

                                <div class="col-md-3">

                                    @Html.AdminLTETextBoxFor(m => m.Account,
null,
new Dictionary<string, object>() { { "class", "form-control" }, { "autocomplete", "off" }, { "readonly", "readonly" }, { "Value", Model.Account } },
null,
null,
"",
true,
true,
true)


                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-3">

                                    @*@Html.AdminLTETextBoxFor(m => m.UserName,
                                    null,
                                    new Dictionary<string, object>() { { "class", "form-control" }, { "autocomplete", "off" }, { "readonly", "readonly" }, { "Value", Model.UserName } },
                                    null,
                                    null,
                                    "",
                                    true,
                                    true,
                                    true)*@
                                    <div class="form-group has-feedback" name="form-group-staffcode">


                                        <label for="staffcode">Staff Code</label>
                                        <input type="text" class="form-control " id="staffcode" readonly value=@Model.UserName />
                                    </div>
                                </div>
                                <div class="col-md-3">

                                    @Html.AdminLTETextBoxFor(m => m.SalesMan,
null,
new Dictionary<string, object>() { { "class", "form-control" }, { "autocomplete", "off" }, { "readonly", "readonly" }, { "Value", Model.SalesMan } },
null,
null,
"",
true,
true,
true)
                                </div>
                                <div class="col-md-3">

                                    @Html.AdminLTETextBoxFor(m => m.FieldMan,
null,
new Dictionary<string, object>() { { "class", "form-control" }, { "autocomplete", "off" }, { "readonly", "readonly" }, { "Value", Model.FieldMan } },
null,
null,
"",
true,
true,
true)
                                </div>
                            </div>

                            <div class="row">
                                @{ if (User.IsInRole("User"))
                                    {
                                        @Html.AdminLTEDropDownListFor(
                                                                        m => m.UserName,
                                                                        htmlLabelAttributes: null,
                                                                        htmlDropDownAttributes: new Dictionary<string, object>() {
                                { "class", "form-control select2" },{ "disabled","true"}
                                                                        },
                                                                        htmlGroupAttributes: new Dictionary<string, object>() { { "class", "col-md-4" } },
                                                                        autoCompleteOptions: new AutoCompleteOptions()
                                                                        {
                                                                            AjaxOptions = new AjaxOptions()
                                                                            {
                                                                                HttpMethod = "GET",
                                                                                Url = Url.Action(actionName: JSONController.USERAUTOCOMPLETER, controllerName: JSONController.JSONCONTROLLER)
                                                                            },
                                                                            DescriptionField = "full_name",
                                                                            IDField = "user_name",
                                                                            Formate = "'<tr><td>' + state.id + '</td><td><span>' + state.text + '</span></td></tr>'",
                                                                            SelectedItem = ViewData[ReportController.SELECTED_FILTED_USER],
                                                                            IsAutoComplete = true,
                                                                            SelectItems = null
                                                                        },
                                                                        showLabel: true)


                                        @Html.AdminLTEDropDownListFor(
                                                                        m => m.Location_Id,
                                                                        htmlLabelAttributes: null,
                                                                        htmlDropDownAttributes: new Dictionary<string, object>() {
                                { "class", "form-control select2 " },{ "disabled","true"}
                                                                        },
                                                                        htmlGroupAttributes: new Dictionary<string, object>() { { "class", "col-md-4" } },
                                                                        autoCompleteOptions: new AutoCompleteOptions()
                                                                        {
                                                                            AjaxOptions = new AjaxOptions()
                                                                            {
                                                                                HttpMethod = "GET",
                                                                                Url = Url.Action(actionName: JSONController.LOCATIONAUTOCOMPLETER, controllerName: JSONController.JSONCONTROLLER)
                                                                            },
                                                                            DescriptionField = "description",
                                                                            IDField = "location_id",
                                                                            Formate = "'<tr><td>' + state.id + '</td><td><span>' + state.text + '</span></td></tr>'",
                                                                            SelectedItem = ViewData[ReportController.SELECTED_FILTED_LOCATION],
                                                                            IsAutoComplete = true,
                                                                            SelectItems = null
                                                                        },
                                                                        showLabel: true)

                                    }
                                    else
                                    {

                                        @Html.AdminLTEDropDownListFor(
                                                                        m => m.UserName,
                                                                        htmlLabelAttributes: null,
                                                                        htmlDropDownAttributes: new Dictionary<string, object>() {
                                { "class", "form-control select2" }
                                                                        },
                                                                    htmlGroupAttributes: new Dictionary<string, object>() { { "class", "col-md-4  " } },
                                                                        autoCompleteOptions: new AutoCompleteOptions()
                                                                        {
                                                                            AjaxOptions = new AjaxOptions()
                                                                            {
                                                                                HttpMethod = "GET",
                                                                                Url = Url.Action(actionName: JSONController.USERAUTOCOMPLETER, controllerName: JSONController.JSONCONTROLLER)
                                                                            },
                                                                            DescriptionField = "full_name",
                                                                            IDField = "user_name",
                                                                            Formate = "'<tr><td>' + state.id + '</td><td><span>' + state.text + '</span></td></tr>'",
                                                                            SelectedItem = ViewData[ReportController.SELECTED_FILTED_USER],
                                                                            IsAutoComplete = true,
                                                                            SelectItems = null
                                                                        },
                                                                        showLabel: true)


                                        @Html.AdminLTEDropDownListFor(
                                                                        m => m.Location_Id,
                                                                        htmlLabelAttributes: null,
                                                                        htmlDropDownAttributes: new Dictionary<string, object>() {
                                { "class", "form-control select2" }
                                                                        },
                                                                        htmlGroupAttributes: new Dictionary<string, object>() { { "class", "col-md-4" } },
                                                                        autoCompleteOptions: new AutoCompleteOptions()
                                                                        {
                                                                            AjaxOptions = new AjaxOptions()
                                                                            {
                                                                                HttpMethod = "GET",
                                                                                Url = Url.Action(actionName: JSONController.LOCATIONAUTOCOMPLETER, controllerName: JSONController.JSONCONTROLLER)
                                                                            },
                                                                            DescriptionField = "description",
                                                                            IDField = "location_id",
                                                                            Formate = "'<tr><td>' + state.id + '</td><td><span>' + state.text + '</span></td></tr>'",
                                                                            SelectedItem = ViewData[ReportController.SELECTED_FILTED_LOCATION],
                                                                            IsAutoComplete = true,
                                                                            SelectItems = null
                                                                        },
                                                                        showLabel: true)

                                        <div class="col-md-1" style="padding-top: 2.5%">

                                            <button type="submit" class="btn btn-primary " id="btnAdd">Search</button>

                                        </div>

                                    }
                                }












                            </div>




                            <div style="margin-top:15px" id="target-achievement-display">

                                @foreach (var month in Model.QuarterMonths)
                                {



                                    <div id="target-achievement-display_@month" class="well well-sm">

                                        @Html.Action(BusinessExcel.Controllers.ReportController.USERTARGET_ACHIEVEMENT_VIEW, new TargetAchievementView { Month = month, user_id = Model.UserID })

                                    </div>
                                }

                            </div>




                        </div>
                                    }
                </section><!-- /.content -->
            </div>



        </div>
</div>
<style>
    .well-sm {
        padding: 0px,0px,0px,9px;
        border: 1px solid #cacab8;
    }
    /*#target-achievement-display_JAN {

            background-color:#4f7a9a
            }

            #target-achievement-display_JUL {

            background-color:#4f7a9a
            }*/
</style>



<script>


    //   $('staffcode').val($("#UserName option:selected").val());


    function SelectedUserName(ddlObject) {



        var username = $(ddlObject).find('option:selected').text();
        $("#UserName").val(username);

    }

    //$('#foo').select2('disable');

    ////To get selected value an text of dropdownlist
    //function SelectedUserName(ddlObject) {



    //    var username = $(ddlObject).find('option:selected').text();
    //    $("#name").val(username);

    //}

    //function SelectedLocationName(ddlObject) {



    //    var username = $(ddlObject).find('option:selected').text();
    //    $("#location_name").val(username);

    //}
    function RefreshTargetList() {

        @*var loadingelement = '@Html.Raw(ConstantUsages.LOADING_ELEMENT)'

$('#userData').html(loadingelement);*@


    }


</script>
