
@using BusinessExcel.Models
@using BootstrapHtmlHelper
@model  EditUserProfile
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">User Profile</h3>
    </div>
    @using (Html.BeginHtmlFieldPrefixScope("ChangeName"))
    {
        using (Ajax.BeginForm("ChangeName",
            new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "change-user-name-form",
                InsertionMode = InsertionMode.Replace,
                OnBegin = "move('#page-load')",
                OnComplete = "ajax_call_load_complete('#page-load')",
                OnFailure = "loadin_failed"
            }))
        {
            <div class="box-body">
                @Html.AntiForgeryToken()
                @Html.AdminLTETextBoxFor(
                                       m => m.UserName,
                                       null,
                                       new Dictionary<string, object>() {
                                        { "class", "form-control" },
                                        {"disabled","true"}
                                           },
                                       null,
                                       null,
                                       null,
                                       true,
                                       true,
                                       true)
                @Html.AdminLTETextBoxFor(
                                       m => m.UserFullName,
                                       null,
                                       new Dictionary<string, object>() { { "class", "form-control" } },
                                       null,
                                       null,
                                       null,
                                       true,
                                       true,
                                       true)
                @Html.AdminLTEPasswordFor(
                                       m => m.CurrentPassword,
                                       null,
                                       new Dictionary<string, object>() { { "class", "form-control" } },
                                       null,
                                       null,
                                       null,
                                       true,
                                       true,
                                       true)
                @if (ViewBag.SuccessFlag != null)
                {
                    if (ViewBag.SuccessFlag)
                    {
                    <div class="form-group has-success">
                        <span id="change-name-message">

                            <label class="control-label"><i class="fa fa-check"></i> @ViewBag.Message </label>


                        </span>
                    </div>
                    }
                    else
                    {
                    <div class="form-group has-error">
                        <span id="change-name-message">

                            <label class="control-label"><i class="fa fa-check"></i> @ViewBag.Message </label>


                        </span>
                    </div>
                    }
                }

            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Change Name</button>
            </div>
        }
    }
</div>