@*
    @if (ViewBag.SuccessFlag) {
    <div class="form-group has-success">
        <label class="control-label"><i class="fa fa-check"></i> @ViewBag.Message </label>
    </div>
    }
    else {
    <div class="form-group has-error">
        <label class="control-label">
            <i class="fa fa-times-circle-o"></i> @ViewBag.Message
        </label>
    </div>
    }

    @if (ViewBag.Errors.Count > 0) {
        <div class="box box-warning collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Errors</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul>
                @foreach (var error in ViewBag.Errors)
                {
                    <li>
                        @error
                    </li>
                }
                    </ul>
            </div>
        </div>
    }
*@
@using BusinessExcel.Models
@using BootstrapHtmlHelper
@model  EditUserProfile
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">User Profile</h3>
    </div>
    @using (Ajax.BeginForm("ChangeName",
                                                                                            new AjaxOptions()
                                                                                            {
                                                                                                HttpMethod = "POST",
                                                                                                UpdateTargetId = "change-user-name-form",
                                                                                                InsertionMode = InsertionMode.Replace,
                                                                                                //OnComplete = "onCompleteForm('change-user-name-form');userNameChanged();",
                                                                                                //OnBegin = "onBegineForm('change-user-name-form'); "
                                                                                            }))
    {
        <div class="box-body">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.UserName)
            @Html.AdminLTETextBoxFor(
                                      m => m.UserName,
                                      null,
                                      new Dictionary<string, object>() {
                                        { "class", "form-control" },
                                        {"disabled","true"}
                                          },
                                      null,
                                      null,
                                      null,
                                      true,
                                      true,
                                      true)
            @Html.AdminLTETextBoxFor(
                                      m => m.UserFullName,
                                      null,
                                      new Dictionary<string, object>() { { "class", "form-control" } },
                                      null,
                                      null,
                                      null,
                                      true,
                                      true,
                                      true)
            @Html.AdminLTEPasswordFor(
                                      m => m.CurrentPassword,
                                      null,
                                      new Dictionary<string, object>() { { "class", "form-control" } },
                                      null,
                                      null,
                                      null,
                                      true,
                                      true,
                                      true)

            <div class="form-group has-success">
                <span id="change-name-message">

                    @if (ViewBag.SuccessFlag != null && ViewBag.SuccessFlag)
                {
                        <label class="control-label"><i class="fa fa-check"></i> @ViewBag.Message </label>
                    }

                </span>
            </div>

        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Change Name</button>
        </div>
    }
</div>