@using BusinessExcel.Models
@using BusinessExcel.Controllers
@using BootstrapHtmlHelper
@using BusinessExcel.Providers.ProviderContext
@using BusinessExcel.Controllers.JSON
@using BusinessExcel.Providers.ProviderContext.Entities


@model CheckinViewModel

@{
    int count = 0;
    IQueryable<CheckinViewModel> data;
    using (var db = new SalesManageDataContext())
    {
        data = db.CheckinDetailsPaging(pageNumber: Model.PageNumber,
                    pageSize: Model.PageSize,
                    sort: ViewBag.ItemViewSort,
                    sortdir: ViewBag.ItemViewDir,
                    count: out count, Filters: Model
                    );
        Model.RowCount = count;
        Model.UseAjax = true;
        Model.UpdateTargetId = "checkin_details_display";
        Model.LoadingElementId = "checkin_details_loading";
    }
    Model.ControllerName = CheckinController.CHECKIN_CONTROLLER;
    Model.ActionName = CheckinController.CHECKIN_DETAILS;
}

<div id="checkin_details" class="box box-primary">
    <div class="box-body">
        @foreach (var line in data)
        {
            <div class="row no-gutter">
                <div class="col-xs-12 col-md-4">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr class="text-primary">
                                <th width="30%">Shift</th>
                                <td width="70%"><i class="fa fa-calendar"></i>&nbsp; @string.Format("{0:dd-MMM-yyy}", line.shift_date)</td>
                            </tr>
                            <tr class="text-primary"><td class="text-bold">@line.user_name</td><td>@line.fullname</td></tr>
                            <tr><th>No. of breaks</th><td>@line.breaks</td></tr>
                            <tr><th>Break in Min.(s)</th><td>@string.Format("{0:0 Min}", line.break_span)</td></tr>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 no-gutter">
                    <div class="col-xs-12 col-md-6">
                        <div class="table-responsive">
                            @if (line.checkin_time == null)
                            {
                                <div class="box-body">
                                    <div class="alert alert-warning">
                                        <h4><i class="icon fa fa-warning"></i>&nbsp;No data!</h4>
                                        No shift start info.
                                    </div>
                                </div>
                            }
                            else
                            {
                                <table class="table">
                                    <tr><th width="50%">Start</th></tr>
                                    <tr>
                                        <td>
                                            @string.Format("{0:dd-MMM-yyy hh:mm tt}", line.checkin_time)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @line.checkin_address
                                            <a class="showMap glyphicon glyphicon-map-marker" id="checkin_@line.user_id" style="font-size: 20px;cursor:pointer" title="View last  location" data-toggle="modal" data-target="#mapModal" data-lat=@line.checkin_latitude data-lng=@line.checkin_longitude data-name="@string.Format("{0} {1}", line.user_name, line.fullname)" data-address="@string.Format("{0}", line.checkin_address)"></a>
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="table-responsive">
                            @if (line.checkout_time == null)
                            {
                                <div class="box-body">
                                    <div class="alert alert-warning">
                                        <h4><i class="icon fa fa-warning"></i>&nbsp;No data!</h4>
                                        No shift end info.
                                    </div>
                                </div>
                            }
                            else
                            {
                                <table class="table">
                                    <tr><th width="50%">Stop</th></tr>
                                    <tr>
                                        <td>
                                            @string.Format("{0:dd-MMM-yyy hh:mm tt}", line.checkout_time)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @line.checkout_address
                                            <a class="showMap glyphicon glyphicon-map-marker" id="checkout_@line.user_id" style="font-size: 20px;cursor:pointer" title="View last  location" data-toggle="modal" data-target="#mapModal" data-lat=@line.checkout_latitude data-lng=@line.checkout_longitude data-name="@string.Format("{0} {1}",line.user_name,line.fullname)" data-address="@string.Format("{0}",line.checkout_address)"></a>
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        @*<div class="row">
            <div class="col-md-12">
                <h3 id="user-details"></h3>
                <address id="user-address"></address>
                <div class="map"></div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("_Pagination", Model)
            </div>
        </div>
    </div>
    <div id="checkin_details_loading" class="overlay" style="display:none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>
