
@using BusinessExcel.Models
@using BusinessExcel.Controllers
@using BootstrapHtmlHelper
@using BusinessExcel.Providers.ProviderContext
@using BusinessExcel.Controllers.JSON

@model CheckinViewModel



<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @BusinessExcel.Controllers.CheckinController.CHECKIN_TITLE
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @BusinessExcel.Controllers.CheckinController.CHECKIN_CONTROLLER</a></li>
        <li class="active">@BusinessExcel.Controllers.CheckinController.CHECKIN_TITLE</li>
    </ol>
</section>


<!-- Main content -->
<section class="content">


    <!-- Your Page Content Here -->
    @using (Ajax.BeginForm(CheckinController.CHECKIN_DETAILS,
                                                CheckinController.CHECKIN_CONTROLLER,
                                                new AjaxOptions()
                                                {
                                                    HttpMethod = "Get",
                                                    InsertionMode = InsertionMode.Replace,
                                                    UpdateTargetId = "checkin_details_display",
                                                    //OnBegin = "begin",
                                                    //OnBegin = "move('#page-load')",
                                                    //OnComplete = "ajax_call_load_complete('#page-load')",
                                                    //OnSuccess = "success",
                                                    OnFailure = "loadin_failed",
                                                    LoadingElementId = "checkin-load-progress"


                                                }))

    {


        <!-- Your Page Content Here -->
        <div class="box box-default collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Filters</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->


            <div class="box-body">



                @*<div class="row">
                    <div class="col-md-3" style="font-weight:bold">
                        Code
                        </div>
                    </div>*@
                <div class="row">

                    <div class="col-md-3">
                          @Html.AdminLTEDropDownListFor(
m => m.user_name,
htmlLabelAttributes: null,
htmlDropDownAttributes: new Dictionary<string, object>() {
                         { "class", "form-control select2" }
      },
                        htmlGroupAttributes: null,// new Dictionary<string, object>() { { "class", "col-md-4" } },
                         autoCompleteOptions: new AutoCompleteOptions()
                         {
                             AjaxOptions = new AjaxOptions()
                             {
                                 HttpMethod = "GET",
                                 Url = Url.Action(actionName: JSONController.USERAUTOCOMPLETER, controllerName: JSONController.JSONCONTROLLER)
                             },
                             DescriptionField = "full_name",
                             IDField = "user_name",
                             Formate = "'<tr><td>' + state.id + '</td><td><span>' + state.text + '</span></td></tr>'",
                             SelectedItem = ViewData[ReportController.SELECTED_FILTED_USER],
                             IsAutoComplete = true,
                             SelectItems = null
                         },
                         showLabel: true)

                    </div>


                    <div class="col-md-2" style="padding-top: 1.5em">

                        @Html.AdminLTEFromSubmitter("Filter",
                       "checkin-load-progress",
                       new Dictionary<string, object>() {
                           { "type", "submit" } ,
                           { "class","btn btn-primary"}
                       },
                       Url.Content("~/Images/progress.gif")
                       )

                        @*<input type="submit" value="Filter" class="btn btn-primary myfilter" id="filter" />
                            <div id="loading" style="padding-top:1em"></div>*@
                    </div>

                </div>

            </div>            <!-- /.box-body -->

        </div><!-- /.box -->

    }

    <div id="checkin_details_display">

        @Html.Action(BusinessExcel.Controllers.CheckinController.CHECKIN_DETAILS, Model)

    </div>

</section><!-- /.content -->




